<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                    </div>
                </ng-template>

                <!-- <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template> -->
            </p-toolbar>

            <p-table #dt [value]="incidents" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['natureOfIncident','incidentId','numberOfRobbers','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedIncidents" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">My Incidents</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <!-- <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th pSortableColumn="incidentId">Incident # <p-sortIcon field="incidentId"></p-sortIcon></th>
                        <th pSortableColumn="natureOfIncident">Nature <p-sortIcon field="natureOfIncident"></p-sortIcon></th>
                        <th pSortableColumn="numberOfRobbers">Number of Robbers <p-sortIcon field="numberOfRobbers"></p-sortIcon></th>
                        <!-- <th>Image</th> -->
                        <th pSortableColumn="itemsRobbed">Items Robbed <p-sortIcon field="itemsRobbed"></p-sortIcon></th>
                        <th pSortableColumn="injuryOccured">Injury Occured? <p-sortIcon field="injuryOccured"></p-sortIcon></th>
                        <th pSortableColumn="propertyDamage">Property Damaged? <p-sortIcon field="propertyDamage"></p-sortIcon></th>
                        <th pSortableColumn="status">Incident Status <p-sortIcon field="status"></p-sortIcon></th>
                        <!-- <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon></th> -->
                        <!-- <th></th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-incident>
                    <tr>
                        <!-- <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td> -->
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">#</span>
                            {{incident.incidentId}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nature</span>
                            {{incident.natureOfIncident}}
                        </td>
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
                        </td> -->
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Number of Robbers</span>
                            {{incident.numberOfRobbers}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Items Robbed</span>
                            {{incident.itemsRobbed}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Injury Occured?</span>
                            {{incident.injuryOccured}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Property Damaged?</span>
                            {{incident.propertyDamage}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Incident Status</span>
                            {{incident.status}}
                        </td>
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </td> -->
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                        </td> -->
                        <!-- <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="incidentDialog" [style]="{width: '450px'}" header="Incident Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <!-- <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image"> -->
                <div class="field">
                    <label for="natureOfIncident">Nature Of Incident</label>
                    <p-autoComplete  [(ngModel)]="incident.natureOfIncident" [dropdown]="true" [suggestions]="filteredIncidentTypes" (completeMethod)="filterIncidentType($event)" 
                    field="name" [showClear]="true" [required]="true" [autofocus]="true" [ngClass]="{'ng-invalid ng-dirty' : submitted && !incident.natureOfIncident}" 
                    placeholder="Select an incident type"></p-autoComplete>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !incident.natureOfIncident">Incident Name is required.</small>
                </div>
                <div class="field">
                    <label for="numberOfRobbers">Number of Robbers</label>
                    <p-inputNumber [(ngModel)]="incident.numberOfRobbers" [showButtons]="true" buttonLayout="horizontal" inputId="numberOfRobbers" 
                        spinnerMode="horizontal" [step]="1"
                        incrementButtonIcon="pi pi-plus"   decrementButtonIcon="pi pi-minus" 
                        [required]="true" [ngClass]="{'ng-invalid ng-dirty' : submitted && !incident.numberOfRobbers}"></p-inputNumber>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !incident.numberOfRobbers">Number of Robbers is required.</small>
                </div>
                <div class="field">
                    <label for="itemsRobbed">Items Robbed</label>
                    <textarea id="itemsRobbed" pInputTextarea [(ngModel)]="incident.itemsRobbed" [required]="true" rows="3" cols="20"></textarea>
                </div>
                <h6>Injury Occured?</h6>
                <div class="grid p-fluid">
                    <div class="col-12">
                        <div class="p-inputgroup">
                            <p-toggleButton [(ngModel)]="incident.injuryOccured" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}" [required]="true" [ngClass]="{'ng-invalid ng-dirty' : submitted && !incident.propertyDamage}"></p-toggleButton>
                        </div>
                    </div>
                </div>
                <h6>Property Damaged?</h6>
                <div class="grid p-fluid">
                    <div class="col-12">
                        <div class="p-inputgroup">
                            <p-toggleButton [(ngModel)]="incident.propertyDamage" invalid onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !incident.propertyDamage}"></p-toggleButton>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveIncident()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>

