.toggle-button-patch {
    border: 1px solid #c8c8c8 !important;
    .ui-button-text.ui-unselectable-text {
      background-color: #c8c8c8;
      color: #333333;
    }
  }
  .p-togglebutton.p-button.p-highlight,.toggle-button-Active ,.p-togglebutton.p-button.p-highlight{
    background-color: royalblue !important;
  }